    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    

    <script>
        function hol(){
            alert("si funciona");
            return;
        }
        // var table = "#tablaProductos";
        
        // $('.pagination').html('')
        // var trnum = 0
        // var maxRows = 50
        // var totalRows = $(table + " tbody tr").length
        // $(table+' tr:gt(0)').each(function(){
            //     trnum++;
            //     if(trnum > maxRows){
                //         $(this).hide()
                //     }
                //     else{
                    //         $(this).show()
                    //     }
                    // })
                    // if(totalRows > maxRows){
                        //     var pageNum = Math.ceil(totalRows/maxRows)
                        //     for(var i = 1; i<= pageNum;){
                            //         $('.pagination').append('<li data-page="'+ i +'"\<span>'+ i++ + '<span class = "sr-only">(current)<\span></span>\</li>').show()
                            //     }
                            // }
                            // $('.pagination li:first-child').addClass('active')
                            // $('pagination li').on('click', function(){
                                //     var pageNum = $(this).attr('data-page')
                                //     var trIndex = 0
                                //     $('pagination li').removeClass('active')
                                //     $(this).addClass('active')
                                //     $(table + ' tr:gt(0)').each(function(){
                                    //         trIndex++
                                    //         if(trIndex > (maxRows*pageNum) || trIndex <= (maxRows*pagenum)-maxRows){
                                        //             $(this).hide()
                                        //         }else{
                                            //             $(this).show()
                                            //         }
                                            
                                            //     })
                                            
                                            // })
                                            
                                            // $(function(){
                                                //     $('table tr:eq(0)'.prepend('<th>ID</ths>'))
                                                    //     var id = 0;
                                                    //     $('table tr:gt(0)').each(function(){
                                                        //         id++;
                                                        //         $(this).prepend('<td>'+id+'</td>')
                                                        //     })
                                                        
                                                        // })
    </script>
    
</body>
</html>
