
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReCenMed</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <style>
        *{
            font-family: "Comfortaa";
            margin: 0;
            padding: 0;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sandstone/bootstrap.min.css">    
</head>
<body>
    
    <div class="row">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary col-12">
            
            <a href="/" class="navbar-brand">ReCenMed</a>
            
        </nav>
    </div>
    
    