
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Droguería Santa Clara</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <style>
        *{
            font-family: "Comfortaa";
            margin: 0;
            padding: 0;
        }
        .main{
            width: 80%;
            margin: 20px auto;
            position: relative;
            background-color: rgb(164, 164, 224);
        }
        .cuerpo{
            max-width: 70%;
            position: absolute; 
            float: left;
        }
        h1{
            font-size: 2.5em;
        }
        aside{
            /* position:absolute; */
            /* position: -webkit-sticky; */
            position: fixed;
            top: 120px;
            right: 10%;
            float: left;
            /* background-color: rgb(58, 172, 30); */

        }
        button{
            text-transform: capitalize;
        }

        .btn-info{
            background-color: #4FADAC;
        }

        .btn{
            width: 100%;
        }
        /* .accion-escondida button{
            width:  100%;
        } */

        /* @media (max-width: 600px) {
            .container.fluid {
                max-width: 510px;
            }
        }  
        @media (max-width: 2000px) {
            .container-fluid {
                max-width: 85%;
            }
        }  */
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sandstone/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="partials/style.css"> -->
    
    <!-- href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" -->
</head>
<body>
    <script>
        var nf = new Intl.NumberFormat('es-CO', {          
            style: 'currency',       
            currency: 'COP',      
            currencyDisplay: 'symbol',
            maximumFractionDigits: 2
        });

    </script>
    <div class="row">
        <!-- <div class="col-12 col-md-1"></div> -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary col-12">
            
            <a href="/" class="navbar-brand">Droguería Santa Clara</a>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto" >
                    <li class = "nav-item"><a onclick = "sessionStorage.clear();" href="/productos" class="nav-link"    >Productos</a></li>
                    <li class = "nav-item"><a onclick = "sessionStorage.clear();" href="/compras" class="nav-link"  >Compras</a></li>
                    <li class = "nav-item"><a onclick = "sessionStorage.clear();" href="/ventas" class="nav-link"   >Ventas</a></li>
                    <li class = "nav-item"><a onclick = "sessionStorage.clear();" href="/historial" class="nav-link"    >Historial</a></li>
                    <li class = "nav-item"><a onclick = "sessionStorage.clear();" href="/usuarios" class="nav-link"    >Usuarios</a></li>
                </ul>
                
            </div>
            <!-- <a href="#" class="navbar-brand">Bienvenido: <%# yo[0].usu_nombre %></a> -->
            <%if((typeof usuario != "undefined")) {%>                
                <a href="#" class="navbar-brand">Bienvenido: <%= usuario.per_nombre %></a>
                <form action="/logout" method = "post">
                    <button class="navbar-brand btn btn-danger">Salir</button>
                </form>
                
            <%}%>
            
        </nav>
    </div>
    
    