<% if (typeof success != "undefined") {%>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">                
                <div class="alert alert-success alert-dimissible fade show">
                    <%= success %>
                </div>
            </div>
        </div>
    </div>
<%}%>

<% if (typeof message != "undefined") { %>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">                
                <div class="alert alert-danger alert-dimissible fade show">
                    <button class = "btn btn-danger" style = "font-size: 1.5em;" onclick = "window.history.back();">
                        <%= message %>

                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- (typeof message != "undefined") -->
<%}%>
